<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.pgy.ssm.mapper.RoleMapper">

    <select id="findAll" resultType="Role">
        select * from role
    </select>

    <insert id="save" parameterType="Role">
        insert into role(roleName,roleDesc) values(#{roleName},#{roleDesc})
    </insert>

    <select id="findRoleByIdAndAllPermission" parameterType="String" resultType="Permission">
        select * from permission where id not in (select permissionId from role_permission rp,role r where rp.roleid = r.id and r.id = #{rid})
    </select>

    <insert id="addPermissionToRole" parameterType="String">
        insert into role_permission values (#{param1},#{param2})
    </insert>
</mapper>